
@media screen and (max-width:576px) {
    nav ul {
      display: none;
    }

    .nav-bar{
      overflow: hidden;
    }
    
     .nav-title{
      font-weight: 800;
      font-size: 2.5rem;
      display: flex;
      margin-left: 50px;
    }
  
    .menu-icon{
      display: block;
      margin-right: 30px;
    }
/*   banner */

    .banner-container{
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .banner-content1{
      margin-left: 20px;
      margin-bottom: 76px;
      margin-top: 35px;
    }
    .banner-title{
      font-size: 2.8rem;
      font-weight: 900;
      line-height: normal;
    }
    .banner-description{
      margin-top: 10px;
      margin-bottom: 12px;
    }
  
    .great-vibes-regular {
      font-size: 3rem;
    }
      .primary-btn , .second-btn{
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 0.95rem;
        text-align: center;
      }
      .banner-content2{
        margin: 0 auto;
        width: 50%;
        margin-left: 110px;
        
      }
      .card1{
        width: 160px;
        height: 76px;
        margin-left: 50%;
        margin-top: 80px;
        margin-right: 20%;
        
      }

  .card1-title{
    color: white;
    font-size: 2rem;
    font-weight: 900;
  }
  .card1-des{
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.65);
    padding-bottom: 5px;
  }
  
  .card2{
    width: 160px;
    height: 76px;
    margin-left: -95px;
    margin-top: 200px;
    text-align: center;
  }
  header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgb(27, 26, 26);
    width: 100%;
   }

    /* habit part */

    /* .full{
      overflow: hidden;
    } */

   .habit-container{
    align-items: center;
    text-align: center;
    margin: 198px auto;
    overflow: hidden;
  }
  
   .all-box{
    display: inline;
    overflow: hidden;
  }


  .habit-card1{
    margin-top: 58px;
    
  }

  .habit-title{
    font-size: 2.5rem;
    font-weight: 900;
  }
  .habit-description{
    font-size: 0.82rem;
    margin-top: 10px;
   
  }

  .min-div{
    margin: 0 auto;
  }

  /* run part */
  
  .run-section{
    margin: 198px 100px;
    display: inline;
    background-color: rgb(24, 23, 23);
  
  }
  .right-part{
    margin: 30px 32px;
    margin-left: 60px;
  }
  .run-img{
    overflow-x: hidden;
    width: 90%;
    height: 80%;
  }

  /* bmi part */

  .bmi-right{
    width: 100%;
    padding-top: 52px;
  }
  .bmi-left{
    width: 100%;
    padding-top: 52px;
    margin: 0 auto;
  }

  .bmi-main-box{
    display: flex;
    flex-direction: column;
  }

  .bmi-left-title{
     align-items: center;
     text-align: center;
    padding-left: 10px;
     text-align: left;
 }

 .bmi-right-des{
  margin-top: 12px;
  text-align: center;
  padding-left: 10px;
  text-align: left;
}

.input-field,
{
 /* padding-left: 50px; */
 /* margin-left: 69px; */
}

.min-div{
  padding-left: 70px;
  margin-left: 30px;
}

table,th,td{
  width: 80%;
  padding: 6px 25px;
}


.sex-part{
  margin-left: 20px;
  /* padding-left: 60px; */
}

/* #pera-part{
  margin-left: 30px;
} */

.calculate-btn{
  overflow: hidden;
}

/* .input-field > input{

  margin-left: 50px;
} */

.kg{
  margin-right: -100px;
}

/*  team part */

  .team-card{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   overflow: hidden;
   width: 100%;
  

  }

  /* footer part */

  footer{
    overflow: hidden;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
  }
  
  .footer-1{
   padding: 30px 10px;
   width: 100%;
  }
  
  .footer2{
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  }
 
  .footer3{
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  }
 
  .footer1-des{
    margin-left: 50px;
    
  }

  /* our service */

  .service-content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
    overflow: hidden;
  }

  .service-card1,
  .service-card2,
  .service-card3,
  .service-card4{
    width: 300px;
  }

  .service-card2{
    margin-bottom: 25px;
  }
}