
@media screen and (max-width:576px) {
    nav ul {
      display: none;
    }
    
     .nav-title{
      font-weight: 800;
      font-size: 2.5rem;
      display: flex;
      margin-left: 50px;
    }
  
    .menu-icon{
      display: block;
      margin-right: 30px;
    }
    .banner-container{
      display: flex;
      flex-direction: column;
    }
    .banner-content1{
      margin-left: 20px;
      margin-bottom: 76px;
      margin-top: 35px;
    }
    .banner-title{
      font-size: 2.8rem;
      font-weight: 900;
      line-height: normal;
    }
    .banner-description{
      margin-top: 10px;
      margin-bottom: 12px;
    }
  
    .great-vibes-regular {
      font-size: 3rem;
    }
      .primary-btn , .second-btn{
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 0.95rem;
        text-align: center;
      }
      .banner-content2{
        margin: 0 auto;
        max-width: 50%;
        margin-left: 110px;
      }
      .card1{
        width: 160px;
        height: 76px;
        margin-left: 150px;
        margin-top: 60px;
        margin-right: 20%;
  }
  .card2{
    width: 160px;
    height: 76px;
    margin-left: -95px;
    margin-top: 200px;
    text-align: center;
  }
  header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgb(27, 26, 26);
    width: 100%;
   }
  
   .all-box{
    display: inline;
    justify-content: space-around;
  }
  .habit-title{
    font-size: 2.5rem;
    font-weight: 900;
  }
  .habit-description{
    font-size: 0.82rem;
    margin-top: 10px;
  }
  
  .run-section{
    margin: 198px 100px;
    display: inline;
    background-color: rgb(24, 23, 23);
  
  }
  .right-part{
    margin: 30px 32px;
    margin-left: 60px;
  }
  .run-img{
    overflow-x: hidden;
    width: 90%;
    height: 80%;
  }
  
  }