@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } 



  .great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight:600 ;
  font-style: normal;
  font-size: 6rem;
}

  .align-item{
    align-items: center;
    text-align: center;
  }
  *{
    margin: 0;
  }

   /* navbar styles start here */

   header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgb(27, 26, 26);
    width: 100%;
   }

   .nav-bar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
   }

  .nav-title{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.5rem;
    display: flex;
    margin-left: 190px;
  }
nav ul{
    display: flex;
    margin-right: 30px;
    text-align: center;
    align-items: center;
    margin-left: 300px;
}

nav ul li{
  list-style: none;
  margin: 30px;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  
}

nav ul a {
  text-decoration: none;
  
}

.primary-btn{
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 8px 20px;
  border: none;
  color: white;
  font-weight:600;
  font-size: 1.1rem;
  text-align: center;
}

.menu-icon{
  color: white;
  margin-right: 30px;
  display: none;
  
}

/* banner part styles */

.banner-container{
  margin-top: 30px;
  display: flex;
}

.banner-content1{
  margin-left: 190px;
  margin-bottom: 76px;
  margin-top: 35px;
}

.banner-title{
  color: white;
  font-size: 4.8rem;
  font-weight: 900;
}
.banner-description{
  color: rgba(255, 255, 255, 0.5);
  margin-top: 28px;
  margin-bottom: 28px;
}

.join-btn{
  padding: 16px 40px;
  border-radius: 46px;
}
.second-btn{
  padding: 16px 40px;
  border-radius: 46px;
  font-weight: 600;
  font-size: 1.1rem;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background-color: rgb(27, 26, 26);
}

.banner-content2{
  margin: 0 160px ;
  display: flex;
  padding: 0px ;
}

.card1{
  width: 206px;
  height: 96px;
  margin-left: 250px;
  margin-top: 150px;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card1-title{
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
}
.card1-des{
  font-size: 0.88rem;
  color: rgba(255, 255, 255, 0.65);
}

.card2{
  width: 206px;
  height: 96px;
  margin-left: -135px;
  margin-top: 400px;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card2-title{
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
}
.card2-des{
  font-size: 0.88rem;
  color: rgba(255, 255, 255, 0.65);
}

/* habit part styles start here */

.full{
  background-color: rgb(7, 6, 6);
  border: 2px solid red;
}

.habit-container{
  align-items: center;
  text-align: center;
  margin: 198px 100px;
  
}

.all-box{
  display: flex;
  justify-content: space-around;
}

.habit-title{
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

.habit-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.92rem;
  margin-top: 14px;
}

.habit-card1{
  margin-top: 58px;
}

.image1{
  border-radius: 100px;
}

.img-title{
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 30px;
}

.img-description {
  margin-top: 6px;
}

/* responsive styles */

@media screen and (max-width:576px) {
  nav ul {
    display: none;
  }
  
   .nav-title{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.5rem;
    display: flex;
    margin-left: 50px;
  }

  .menu-icon{
    display: block;
    margin-right: 15%;
  }
  .banner-container{
    display: flex;
    flex-direction: column;
  }
  .banner-content1{
    margin-left: 20px;
    margin-bottom: 76px;
    margin-top: 35px;
  }
  .banner-title{
    color: white;
    font-size: 2.8rem;
    font-weight: 900;
  }
  .banner-description{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .great-vibes-regular {
    font-size: 3rem;
  }
    .primary-btn , .second-btn{
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 0.95rem;
      text-align: center;
    }
    .banner-content2{
      margin: 0 auto;
    }
    .card1{
      width: 186px;
      height: 76px;
      margin-left: 190px;
      margin-top: 60px;
}
.card2{
  width: 186px;
  height: 76px;
  margin-left: -35px;
  margin-top: 280px;
}
header{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  background-color: rgb(27, 26, 26);
  width: 100%;
 }

 .all-box{
  display: inline;
  justify-content: space-around;
}
.habit-title{
  font-size: 2.5rem;
  font-weight: 900;
}
.habit-description{
  font-size: 0.82rem;
  margin-top: 10px;
}

}